@import "../../sass/common";

.container {
	display: flex;
	flex-direction: row;
}

.programContainer {
	flex: 2;
}

.program {
	@include input-box;
	flex: 1;
	resize: none;
	min-height: var(--space-10);
}

.stackTraceContainer {
	flex: 1;
}
.stackTrace {
	@include input-box;
	display: block;
	white-space: pre;
	flex: 1;
}
