@import "../../sass/common";

.stackStart {
	@include input-box;
}

.exampleTask {
	@include input-box;
	min-height: var(--space-09);
	min-width: var(--space-09);
	resize: none;
}

.exampleTask[data-valid="true"] {
	color: var(--color-green);
}

.exampleTask[data-valid="false"] {
	color: var(--color-red);
}
