.container {
	display: flex;
	flex-direction: column;
	padding: var(--space-02);
}

.container label {
	font-size: var(--font-size-03);
	padding-top: var(--space-04);
}

.input {
	background-color: var(--color-text);
	border: var(--color-blue) solid var(--space-01);
	color: var(--color-background);
	font-family: monospace;
	font-size: var(--font-size-03);
	padding: var(--space-02);
}

.stackStart {
}

.exampleTask {
	min-height: var(--space-09);
	min-width: var(--space-09);
	resize: none;
}

.exampleTask[data-valid="true"] {
	color: var(--color-green);
}

.exampleTask[data-valid="false"] {
	color: var(--color-red);
}
